{mode, max}.

{duration, 1}.
{report_interval,1}.

{concurrent, 1}.

{driver, basho_bench_driver_riakc_pb}.

{riakc_pb_bucket, {<<"maps_v1">>,<<"test1">>}}.

% Map of Maps of Counters, internal map key changing every 30 seconds
% key-####: map{
%   ts-####: map{
%     ##: counter,
%     ##: counter,
%     ##: counter,
%     ##: counter,
%     ##: counter
%   },
%   ts-####: map{
%     ##: counter,
%     ##: counter,
%     ##: counter,
%     ##: counter,
%     ##: counter
%   },
%   ...
%}

{key_generator, {concat_binary,
                    <<"key-">>,
                    {str_to_bin,{int_to_str,{uniform_int, 10000}}}}}.

{value_generator, {custom_crdt, {riakc_map, [ %Map Updates:
      {update, { %Map Element Key:
          {concat_binary,
              <<"ts-">>,
              % "quanta_sec, X": timestamp in seconds, changing every X seconds
              {str_to_bin,{int_to_str,{quanta_sec, 30}}}},
          map, %Map Element Datatype
          {riakc_map, [ %Map Element Contents
              {update, { %Map Element Key:
                  {str_to_bin,{int_to_str,{uniform_int,12}}},
                  counter, %Map Element Type
                  {riakc_counter, [{increment, {uniform_int, 100}}]}}}, %Counter
              {update, { %Map Element Key:
                  {str_to_bin,{int_to_str,{uniform_int,12}}},
                  counter, %Map Element Type
                  {riakc_counter, [{increment, {uniform_int, 100}}]}}} %Counter
      ]}}}
]}}}.

% Map of Counters, key changing every 30 seconds
% key-####-ts-####: map{
%     ##: counter,
%     ##: counter,
%     ##: counter,
%     ##: counter,
%     ##: counter
% }

% {key_generator, {concat_binary, %Concat the following 2 things:
%                     {concat_binary, %Concat the following 2 things:
%                         <<"key-">>,{str_to_bin,{int_to_str,{uniform_int, 10000}}}},
%                     {concat_binary, %Concat the following 2 things:
%                     % "quanta_sec, X": timestamp in seconds, changing every X seconds
%                         <<"-ts-">>,{str_to_bin,{int_to_str,{quanta_sec, 30}}}}}}.
%
% {value_generator, {custom_crdt, {riakc_map, [ %Map Updates:
%     {update, { %Map Element Key:
%         {str_to_bin,{int_to_str,{uniform_int,12}}},
%         counter, %Map Element Type
%         {riakc_counter, [{increment, {uniform_int, 100}}]}}},
%     {update, { %Map Element Key:
%         {str_to_bin,{int_to_str,{uniform_int,12}}},
%         counter, %Map Element Type
%         {riakc_counter, [{increment, {uniform_int, 100}}]}}}
% ]}}}.

{riakc_pb_ips, [{127,0,0,1}]}.

{riakc_pb_replies, 1}.

{operations, [{{custom_crdt, update}, 1}]}.

%% Use {auto_reconnect, false} to get "old" behavior (prior to April 2013).
%% See deps/riakc/src/riakc_pb_socket.erl for all valid socket options.
{pb_connect_options, [{auto_reconnect, true}]}.

%% Overrides for the PB client's default 60 second timeout, on a
%% per-type-of-operation basis.  All timeout units are specified in
%% milliseconds.  The pb_timeout_general config item provides a
%% default timeout if the read/write/listkeys/mapreduce timeout is not
%% specified.

{pb_timeout_general, 30000}.
{pb_timeout_read, 5000}.
{pb_timeout_write, 5000}.
{pb_timeout_listkeys, 50000}.
%% The general timeout will be used because this specific item is commented:
%% {pb_timeout_mapreduce, 50000}.
