%{mode, max}.
{mode, {rate, 1}}.

%{duration, 10}.
{duration, 1}.

{concurrent, 1}.

{driver, basho_bench_driver_riakc_pb_erlydtl}.

{key_generator, {int_to_str, {uniform_int, 10000}}}.

% templates/example_json.dtl get compiled to ebin/example_json_dtl.beam during make
{value_generator, {erlydtl, example_json_dtl}}.

{riakc_pb_content_type, "application/json"}.

%{riakc_pb_ips, [{127,0,0,1}]}.

{riakc_pb_ips, [{192,168,1,176}, {192,168,1,177},{192,168,1,178},{192,168,1,179},{192,168,1,180}]}.

{riakc_pb_replies, 1}.

%{operations, [{get, 1}, {update, 1}]}.
{operations, [{put, 1}]}.
